.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}

.sidebarLink {
  display: block;

  margin: 20px 5px;
}
a {
  color: alicebluec;
}
