.sideBar {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
}

.sidebarLink {
  display: block;
  border: 2px solid green;
  margin: 20px 5px;
}
